force-app/main/default/flows/TextingFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AddIdtoCol</name>
        <label>AddIdtoCol</label>
        <locationX>796</locationX>
        <locationY>210</locationY>
        <assignmentItems>
            <assignToReference>ContactCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContactVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_More_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignConToCampMem</name>
        <label>assignConToCampMem</label>
        <locationX>484</locationX>
        <locationY>277</locationY>
        <assignmentItems>
            <assignToReference>CampaignMember.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CampaignId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignMember.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IndContact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>collectCampMem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>collectCampMem</name>
        <label>collectCampMem</label>
        <locationX>584</locationX>
        <locationY>277</locationY>
        <assignmentItems>
            <assignToReference>CampaignMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CampaignMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopContactsinColl</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Campaign</name>
        <choiceText>Campaign</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Contact</name>
        <choiceText>Contact</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>ContactDecision</name>
        <label>ContactDecision</label>
        <locationX>773</locationX>
        <locationY>25</locationY>
        <defaultConnector>
            <targetReference>AddIdtoCol</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ChooseSearch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Search_Results_Screen</targetReference>
            </connector>
            <label>ChooseSearch</label>
        </rules>
    </decisions>
    <decisions>
        <name>More</name>
        <label>More?</label>
        <locationX>697</locationX>
        <locationY>306</locationY>
        <defaultConnector>
            <targetReference>createCampaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_addMore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_More_Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contacts_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_Send_decision</name>
        <label>Type of Send decision</label>
        <locationX>353</locationX>
        <locationY>20</locationY>
        <defaultConnector>
            <targetReference>CampaignScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>CampaignDecision</defaultConnectorLabel>
        <rules>
            <name>ContactDecison</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CampaignName</targetReference>
            </connector>
            <label>ContactDecision</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CampaignChoice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <limit>10</limit>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>CampaignId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Contacts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>FirstName</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <limit>12</limit>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactVar.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SearchContactChoice</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>FirstName</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Search_Name</elementReference>
            </value>
        </filters>
        <limit>10</limit>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactVar.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>CampaignIDFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Select_Campaign}),{!CampaignId},{!Select_Campaign})</expression>
    </formulas>
    <formulas>
        <name>ContactID</name>
        <dataType>String</dataType>
        <expression>{!$Flow.CurrentRecord}</expression>
    </formulas>
    <interviewLabel>TextingFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Text Messaging App</label>
    <loops>
        <name>LoopContactsinColl</name>
        <label>LoopContactsinColl</label>
        <locationX>563</locationX>
        <locationY>484</locationY>
        <assignNextValueToReference>IndContact</assignNextValueToReference>
        <collectionReference>ContactCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignConToCampMem</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>createCampaignMem</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>createCampaign</name>
        <label>createCampaign</label>
        <locationX>699</locationX>
        <locationY>491</locationY>
        <assignRecordIdToReference>CampaignId</assignRecordIdToReference>
        <connector>
            <targetReference>LoopContactsinColl</targetReference>
        </connector>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>New_Campaign_Name</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign</object>
    </recordCreates>
    <recordCreates>
        <name>createCampaignMem</name>
        <label>createCampaignMem</label>
        <locationX>256</locationX>
        <locationY>356</locationY>
        <connector>
            <targetReference>TextMsg</targetReference>
        </connector>
        <inputReference>CampaignMembers</inputReference>
    </recordCreates>
    <recordCreates>
        <name>SendBulkMsg</name>
        <label>SendBulkMsg</label>
        <locationX>146</locationX>
        <locationY>481</locationY>
        <connector>
            <targetReference>Results</targetReference>
        </connector>
        <inputAssignments>
            <field>TwilioSF__Body__c</field>
            <value>
                <elementReference>Text_Message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TwilioSF__Campaign__c</field>
            <value>
                <elementReference>CampaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TwilioSF__Sent_Date_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>TwilioSF__BulkMessage__c</object>
    </recordCreates>
    <screens>
        <name>Add_More_Screen</name>
        <label>Add More Screen</label>
        <locationX>988</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>More</targetReference>
        </connector>
        <fields>
            <name>Add_More_Choice</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Add More</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CampaignName</name>
        <label>CampaignName</label>
        <locationX>467</locationX>
        <locationY>15</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Contacts_Screen</targetReference>
        </connector>
        <fields>
            <name>New_Campaign_Name</name>
            <dataType>String</dataType>
            <fieldText>Please enter a name for the new campaign</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>CampaignScreen</name>
        <label>CampaignScreen</label>
        <locationX>251</locationX>
        <locationY>181</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>TextMsg</targetReference>
        </connector>
        <fields>
            <name>Select_Campaign</name>
            <choiceReferences>CampaignChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Campaign</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contact_Search_Results_Screen</name>
        <label>Contact Search Results Screen</label>
        <locationX>1021</locationX>
        <locationY>26</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AddIdtoCol</targetReference>
        </connector>
        <fields>
            <name>Contact_Search_Results</name>
            <choiceReferences>SearchContactChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contact Search Results</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contacts_Screen</name>
        <label>Contacts Screen</label>
        <locationX>561</locationX>
        <locationY>18</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ContactDecision</targetReference>
        </connector>
        <fields>
            <name>Select_Contact</name>
            <choiceReferences>Contacts</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select a contact to add to the new campaign (12 most recently modified shown)</fieldText>
            <fieldType>RadioButtons</fieldType>
            <helpText>&lt;p&gt;12 most recently modified contacts shown&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Search_Name</name>
            <dataType>String</dataType>
            <fieldText>Search the full name of a contact not listed (i.e. Tim Barr)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Results</name>
        <label>Results</label>
        <locationX>161</locationX>
        <locationY>616</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>YourMsgSent</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Your Message has been sent!!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TextMsg</name>
        <label>TextMsg</label>
        <locationX>144</locationX>
        <locationY>321</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SendBulkMsg</targetReference>
        </connector>
        <fields>
            <name>conid</name>
            <fieldText>&lt;p&gt;{!ContactID}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Text_Message</name>
            <dataType>String</dataType>
            <fieldText>Enter the text message you want to send</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Type_of_Send</name>
        <label>Type of Send</label>
        <locationX>193</locationX>
        <locationY>11</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Type_of_Send_decision</targetReference>
        </connector>
        <fields>
            <name>who_to_text</name>
            <choiceReferences>Contact</choiceReferences>
            <choiceReferences>Campaign</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you want to add contacts to a new campaign or text an existing campaign?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Type_of_Send</startElementReference>
    <status>Active</status>
    <variables>
        <name>CampaignId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CampaignMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>CampaignMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>ContactCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>IndContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
